export SYSLOG_PROXY=true
export SYSLOG_PORT=10514
export SYSLOG_GROUP=/versent/dev/syslog
export SYSLOG_STREAM=apigee
# These certs are base64 from the certs folder
# CA CERT used to validate clients
export SYSLOG_CLIENTCACERT=xxx
# SERVER CERTS
export SYSLOG_CERT=xxx
export SYSLOG_KEY=xxx
export AWS_REGION=ap-southeast-2
export AWS_PROFILE=saml
